@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Jost', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
    display: grid;
    place-items: center;
}
.main{
    width: 35rem;
    height: 55rem;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 2.5rem;
    text-align: center;
}

.main #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #171717;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.main #artist{
    color: #cccaca;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}

.image{
    width: 25rem;
    height: 25rem;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
}
.play .fas{
    color: #111111;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
}

.play{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
}
.play .btn{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #111;
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.play .fas:hover{
    color: grey;
}
.play .fa-play:hover{
    background-color: #f6f6f6;
    color: #111;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
}
.anime{
    animation: rotatePlayer 3s linear infinite;
}
@keyframes rotatePlayer{
    from{ 
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
